.publication-summary-table-container {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .publication-summary-table th,
  .publication-summary-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .publication-summary-table th {
    background-color: #125875;
    color: #fff;
  }
  
  .publication-summary-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .publication-summary-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .publication-summary-table tbody tr td a {
    color: #1eb2a6;
    text-decoration: none;
  }
  
  .publication-summary-table tbody tr td a:hover {
    text-decoration: underline;
  }
  